{{ form_start(registrationForm, {'attr': {'class': 'w-2/3 p-2', 'novalidate': 'novalidate'}}) }}
<div>{{ form_errors(registrationForm) }}</div>

{# Form email #}
<div>
    {{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'block text-sm mb-2'}}) }}
    {{ form_widget(registrationForm.email, {'attr': {'class': 'block w-full border border-slate-900 bg-white rounded
    mb-2'}}) }}
    {{ form_errors(registrationForm.email) }}
</div>

{# Form password #}
<div>
    {{ form_label(registrationForm.plainPassword.first, 'Password', {'label_attr': {'class': 'block text-sm mb-2'}}) }}
    {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'block w-full border border-slate-900
    bg-white
    rounded mb-2'}}) }}
    {{ form_errors(registrationForm.plainPassword.first) }}
</div>

{# Form repeated password #}
<div>
    {{ form_label(registrationForm.plainPassword.second, 'Repeated Password', {'label_attr': {'class': 'block text-sm
    mb-2'}}) }}
    {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'block w-full border border-slate-900
    bg-white
    rounded mb-2'}}) }}
    {{ form_errors(registrationForm.plainPassword.second) }}
</div>

{# Form agree terms #}
<div class="flex items-center mt-4 mb-2">
    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'h-5 w-5 rounded border border-slate-900 mr-2'}}) }}
    {{ form_label(registrationForm.agreeTerms, 'Agree to terms', {'label_attr': {'class': 'block text-sm'}}) }}
</div>

{# Submit button #}
<button
    class="w-full h-12 mt-5 font-semibold text-right text-white border-2 border-gray-400 rounded-full bg-slate-900 w-28 hover:bg-slate-800"
    type="submit">
    <div class="flex items-center justify-center gap-3">
        <span class="text-xl">Submit</span>
    </div>
</button>

{{ form_end(registrationForm) }}