<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>{% block title %} Ebook library {% endblock %}</title>

  {# Main colors of this project: slate-900 and gray-100 #}

  {% block stylesheets %}
  {% endblock %}
  {% block javascripts %}
  {% endblock %}

  <script src="https://cdn.tailwindcss.com"></script>
  {#
  <script>
    tailwind.config = { darkMode: 'class' }
  </script> #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</head>

<body class="bg-gray-100 text-slate-900">

  {# Navigation #}
  <nav class="top-0 items-center justify-between w-full py-2 bg-slate-900">
    <div class="container flex items-center justify-between px-2 mx-auto">
      <div class="flex items-center justify-between w-full text-xl text-gray-100">
        <a class="inline-block p-4" href="{{ path('app_home') }}">Homepage</a>
        <div class="flex items-center justify-between">
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <a class="inline-block p-4" href="{{ path('app_ebook_add') }}">Add New</a>
          <a class="inline-block p-4" href="{{ path('app_user_profile') }}">Profile</a>
          <a class="inline-block p-4" href="{{ path('app_logout') }}">Logout</a>
          {% else %}
          <a class="inline-block p-4" href="{{ path('app_login') }}">Login</a>
          <a class="inline-block p-4" href="{{ path('app_register') }}">Register</a>
          {% endif %}

          {% if is_granted('ROLE_ADMIN')%}
          <a class="inline-block p-4" href="#">Admin</a>
          {% endif %}
        </div>
      </div>
    </div>
    </div>
  </nav>

  <div class="container w-full">

    {# Section 1 - search + navigation info #}
    <section>
      <div class="container flex items-center justify-between w-full mx-auto">
        <div class="items-center justify-between w-full mx-10 mt-5 md:flex">

          {# breadcrumbs #}
          {% block librarynav %}
          <div class="mb-3 text-3xl text-black">
            <a href="{{ path('app_ebook') }}">Ebook library</a>
            {% block breadcrumbs %}
            {% endblock %}
          </div>
          {% endblock %}


          {# searchbar and search button #}
          {% block search %}
          {% endblock %}

        </div>
      </div>

    </section>

    {# Section 2 - categories #}
    <section>
      {% block dropdown %}
      {% endblock %}
    </section>

    {# Section 3 - ebooks #}
    <section>
      <div class="container items-center justify-between w-full mx-auto">
        {% block centertitle %}
        {% endblock %}
        <div class="flex items-center justify-between w-full p-5">
          {% block body %}
          {% endblock %}
        </div>
      </div>
    </section>

    {# Section 4 - flash messages #}
    <section>
      {% for message in app.flashes('success') %}
      <div
        class="absolute p-3 m-2 mx-auto text-right bg-green-600 border-2 border-green-800 rounded-full right-5 bottom-5">
        <div class="text-gray-200">{{ message }}</div>
      </div>
      {% endfor %}
    </section>

  </div>

</body>

</html>